@model IEnumerable<web_app.teste.claranet.Models.CadastroViewModel>
@{
    ViewData["Title"] = "Index";
}
<h1>Index</h1>
<p>
    <a class="btn btn-lg btn-primary" asp-area="" asp-controller="Cadastro" asp-action="Create"><i class="fa-solid fa-square-plus"></i> Novo cadastro</a>
</p>
<table class="table table-responsive table-striped table-bordered table-sm table-condensed">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cnpj)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeFantasia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeContato)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="">
                        @Html.DisplayFor(modelItem => item.Cnpj)
                    </div>
                    <div class="">
                        @Html.DisplayFor(modelItem => item.RazaoSocial)
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeFantasia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <div class="">
                        Tel.: @Html.DisplayFor(modelItem => item.Telefone)
                    </div>
                    <div class="">
                        Com.: @Html.DisplayFor(modelItem => item.TelefoneComercial)
                    </div>
                    <div class="">
                        Cel.: @Html.DisplayFor(modelItem => item.Celular)
                    </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cep)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeContato)
                </td>
                <td>
                    <a class="btn btn-secondary btn-sm" asp-action="Edit" asp-route-id="@item.Id" data-toggle="tooltip" title="Editar cadastro">Edit</a> |
                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id" data-toggle="tooltip" title="Mostrar detalhes">Details</a> |
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id" data-toggle="tooltip" title="Excluir cadastro">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    <script>
        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
}


